@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&display=swap');

p {
    font-family: 'Tai Heritage Pro', serif;
    font-size: 25px;
}

.wapper {
    background: #ccc;
    width: 100vw;
    height: 100vh;
}
.carousel {
    position: relative;
    width: 700px;
    background: #fff;
    height: 350px;
    margin: 0 auto;
    top: 150px;
}
.carousel-item{
    height: 350px;
    padding-top: 150px;
}